a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h3 {
  color:black;
  
}

h1 {
  color:black;
  
}

p {
  color:black;
  
}



#Website {
  color:black;
  margin: auto;
  width: 97%;
  border: 3px solid ;
  padding: 0px;
  /*background-image:url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg') ;*/
  background-repeat: no-repeat;
  background-size: cover;
}

#Product {
  border-radius: 25px;
  margin: auto;
  width: 100%;
  min-width:300px;
  border: 3px solid ;
  padding: 10px;
  opacity: .85;
  background-size:100% 100%;
  background-color:#eeeeec;
  height:300px;
  max-width:300px; 
  opacity: 1;
}

#ContentContainer {
  border-radius: 25px;
  margin: auto;
  width: 100%;
  border: 0px solid ;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

#Content {
  border-radius: 25px;
  text-decoration-color:white;
  margin: auto;
  width: 80%;
  border: 3px solid ;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#888a85;
  opacity:.85;
}

#ImageContainer {
  min-height:600;
  width:auto;
  
}

#Button {
  border-radius: 25px;
  background-color:#888a85;
  margin: auto;
  width: 100%;
  min-width:100px;
  min-height:60px;
  border: 3px solid ;
  padding: 10px;
  opacity: 0.85;
}

#Button:hover {
  background-color: #729fcf;
}

#Banner {
  border-radius: 25px;
  /*background-image:url('https://i.ebayimg.com/images/g/-LoAAOSwcYpjvfdD/s-l1600.png') ;*/
  background-color:#555753;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  min-height:300px;
  max-height:480px;
  border: 0px solid ;
  padding: 0px;
  text-align: center;
  opacity: 0.85;

}
#NavBar {
  margin: auto;
  width: 100%;
  border: 0px solid ;
  padding: 0px;
  text-align: center;
  display:flex;
  flex-wrap:wrap;

}

#StoreOne {
  margin: auto;
  display:flex;
  flex-wrap:wrap;
  margin: auto;
  width: 100%;
  border: 0px solid ;
  padding: 0px;

  
  

}

#StoreTwo {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
}


